@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@200;300;400;600&display=swap');

:root {
    --font-primary: Montserrat;
    --font-secondary: Poppins;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(229, 229, 229);
}

button {
    all: unset;
}

.button {
    font-size: 40px;
}

.header-1, .header-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.title {
    font-family: var(--font-secondary);
    font-weight: 600;
}

#movies-grid, #movies-grid-search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    order: 5;
    padding: 20px;

}

#load-more-movies-btn, #load-more-movies-btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}
/******* MOVIE CARD *******/
.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20%;
    padding: 30px 0;
    text-align: left;
}

.movie-card img {
    width: 80%;
    border-radius: 10px 10px 0 0;
}

.movie-card p {
    font-family: var(--font-primary);
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: white;
    padding-left: 5px;
}

.vote-average {
    padding: 15px 0 8px 0;
}

.movie-title {
    font-weight: 600;
}
.info {
    width: 75%;
    padding: 0 10px 15px;
    background-color: rgb(51, 51, 51);
    border-radius: 0 0 50% 2%;
}

/******* END MOVIE CARD *******/

#movie-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-btn {
    display: flex;
    align-items: items;
    justify-content: center;
}

.hidden {
    display: none;
}