@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@200;300;400;600&display=swap');

:root {
    --font-primary: Montserrat;
    --font-secondary: Poppins;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fee1e1;
    /*background-image: url('./bg-img.jpg');*/
    background-repeat: repeat-y;
    object-fit: cover;
}

button {
    all: unset;
}

#movies-grid,
#movies-grid-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

#load-more-movies-btn,
#load-more-movies-btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    color: #2e3358
}

#movie-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.hidden {
    display: none !important;
}

.button {
    font-size: 40px;
}

.header-main {
    background-color: #2e3358;
    padding: 30px;
    box-shadow: 0 0 20px 5px rgba(92, 15, 15, 0.25);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 15px;
    color: white;
}

.header-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 20px;
    color: #2e3358;
}

.title {
    font-family: var(--font-secondary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input[type=text].search-box {
    width: 25%;
    padding: 12px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    line-height: 18px;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fee1e1;
    padding-right: 30px;
    transition: all 250ms ease-in-out;
}

input[type=text].search-box:hover, :focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

input::placeholder {
    color: #fee1e1;
}

/* Remove chrome autofill color from inputs*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    -webkit-text-fill-color: rgb(44, 44, 44) !important;
}

.search-box-btn {
    margin-left: -34px;
    cursor: pointer;
    color: #fee1e1;
}

.search-box-btn i {
    font-size: 20px;
}
/******* MOVIE CARD *******/
.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20%;
    padding: 30px 15px;
    text-align: left;
}

.movie-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 2px 15px 0 rgba(92, 15, 15, 0.25);
    border: 1px solid #fff;
    border-bottom: 0;
}

.movie-card img:hover {
    width: 100%;
    transition: all 0.1s ease-in-out;
    background: #2e3358;
    opacity: 0.5;
    cursor: pointer;
}

.movie-card p {
    font-family: var(--font-primary);
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: white;
    padding-left: 15px;
    padding-right: 20px;
}

.vote-average {
    padding-top: 10px;
    padding-bottom: 10px;
}

.movie-title {
    font-weight: 600;
    margin-bottom: 10px;
}
.info {
    width: 100%;
    padding: 0 0 20px;
    background-color: #2e3358;
    backdrop-filter: blur(5px);
    border-radius: 0 0 50% 2%;
    border: 1px solid #fff;
    border-top: 0;
    box-shadow: 2px 2px 30px 0 rgba(92, 15, 15, 0.25);
}

/******* END MOVIE CARD *******/

.load-btn {
    display: flex;
    align-items: items;
    justify-content: center;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.empty p {
    display: flex;
    color: #2e3358;
}

@media only screen and (max-width: 1280px) {
    #movies-grid, #movies-grid-search {
        flex-direction: column;
    }

    .movie-card {
        max-width: 70%;
    }
}
